body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.highlight {
    color: #ff5722;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #388e3c;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
